BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
UseTab: Never
DerivePointerAlignment: false
PointerAlignment: Left
FixNamespaceComments: true
AllowShortFunctionsOnASingleLine: None
AccessModifierOffset: -1
